*{
    background-color: rgba(248,248,248,0.7);
}
.mainContent{
    margin:1.25rem;
}

.myImage{
    float:right;
    padding:1.25rem;
    background-color: white; 
}


.myImageControl{
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.08);
    width:28.125rem;
    height:28.125rem;
}


.container{
    padding :1.25rem;
    display: inline-block; 

}
.container:hover{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.5s;
    background-color:white;
}
.container:hover .siteBrand,.container:hover .siteContent{
    transition: background-color 0.5s;
    background-color:white;
}
.siteBrand{
    font-size:3.5rem;
}

.siteContent{
    font-weight: 400;
    text-align:justify;
}
.myProjects{
    cursor: pointer;
    color: #696969;
    background-color:rgba(250,250,250,0.7);
    border: 1px solid #84ffff;
    font-size:1.625rem;
    border-radius: 62.5rem;
    padding:1.5rem 2.375rem;
}
.myProjects:hover{
    border: 1px solid #84ffff;
    background-color:rgba(248,248,248,0.7);
    box-shadow: 0px 3px rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
}
