.mainContent{
    margin:1.25rem;
    padding:1.25rem;
    font-size:40px;
    color: #696969;
}
.email{
    text-decoration: none;
    color:#696969;
    
}
.email:hover{
    text-decoration: none;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
    color:black;
}